# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
*.manifest
*.spec
dist
release
build

# VSCode
.vscode
.venv
.ipynb

# PyCharm
.idea
# Default ignored files
/shelf/
/workspace.xml

# Project files
*.log
.root
config.properties
reus_runner.egg-info